body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('background.jpg');
    background-size: cover;
}

.logo {
    width: 60x;
    height: 60px;
    margin-left: 100px;
    margin-top: 5px;
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 240px;
    padding-right: 150px;
    background-color: transparent;
    color: #fff;
}

.header-right a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-right a.active {
    font-weight: bold;
}

/* Container styling */
.container {
    display: grid;
    grid-template-columns: 600px auto;
    gap: 5px;
    padding: 50px;
}

/* Left section styling */
.leftsection {
    display: grid;
    justify-items: center;
    width: 40%;
}

.ui-image {
    margin-left: 200px;
}

.ui-image img {
    width: 350px;
    height: 720px;
}

/* Right section styling */
.rightsection {
    display: grid;
    grid-template-columns: 447.6;
    grid-auto-flow: column; /* Stack items vertically */
    width: 100%;
    margin-top: 150px;
}

.TexasFeature {
    font-size: 60px; 
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-left: 20px; 
    position: absolute;
    top: 80px; 
    left: 670px; 
}


.flex-item {
    display: grid;
    grid-template-rows:  200px 68px auto;
    grid-template-columns: auto;
    color: white;
    width: 100%;
    padding: 10px;
}

.icon1, .icon2, .icon3 {
    justify-self: center;
    
}

.icon1 img {
   
    width: 220px;
    height: 200px;
}

.icon2 img {
    justify-self: center;
    width: 290px;
    height: 210px;
}

.icon3 img {
    justify-self: center;
    width: 187px;
    height: 205px;
}


/* Common styling for icon-name and description */
.icon-name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 18px;
}

.description{
    padding: 15px;
    text-align: justify;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}